@use "../shared";

.task-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    margin-bottom: 1rem;

    label {
        margin-right: 8px;
    }

    .task-input {
        min-width: 300px;
        padding: 8px;
        border-radius: 4px;
        font-size: 1rem;
    }

    .task-button {
        background-color: transparent;
        margin-left: 1rem;

        padding: 1rem;

        &:hover {
            background-color: #EEE;
        }
    }
}

.filter-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;

    button {
        flex: 1;
        background-color: transparent;

        &:hover {
            background-color: rgba(128, 128, 128, 0.127);
        }

        &.active {
            text-decoration: underline;
            font-weight: bold;
        }
    }
}


.task-list {
    p {
        width: 300px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .task {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid gray;

        .task-text {
            margin-left: 2rem;
        }

        button {
            background-color: transparent;
            border: 0;
            padding: 8px;
            margin: 8px;

            &:hover {
                background-color: rgba(128, 128, 128, 0.127);
            }
        }
    }
}