@use "../shared";

.accordion {
    .subtitle {
        font-weight: 400;
    }


    .title {
        font-weight: 900;
    }

    .item:first-of-type {
        border: 1px solid gray;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        overflow: hidden;
    }

    .item:last-of-type {
        border: 1px solid gray;
        border-top: 0;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        overflow: hidden;
    }

    .item {
        border-bottom: 1px solid gray;
        border-left: 1px solid gray;
        border-right: 1px solid gray;

        .item-header:hover {
            background-color: #EEE;
        }


        .content {
            display: grid;
            grid-template-rows: 0fr;
            transition: grid-template-rows 0.2s ease;

            >* {
                overflow: hidden;
                padding-left: 8px;
            }

            &.content-open {
                grid-template-rows: 1fr;
                padding-top: 8px;
                padding-bottom: 8px;
            }
        }

        .item-header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 0 8px;

            button {
                font-weight: bold;
                padding: 16px;
                background-color: transparent;
            }


        }
    }
}