.vector__section {
    margin: 0;
    background-color: #efefef;
    width: 100vw;
    height: 100vh;
}

.interview__card {
    margin: 2rem;
    background-color: #fff;
    min-height: 300px;
    padding: 1rem;
    border-radius: 1rem;


}