.hackernews__content {
    background-color: rgb(242, 239, 239);
}

.hackernews__title {
    font-size: 1.5rem;
    margin: 16px;
}

.comments__list {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: left;
    border-radius: 1rem;
    background-color: white;
    margin: 2rem;
}